@use "mixins" as mix;
@use "variables" as var;

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  @include mix.desktop {
    // margin-left: 15%;
  }
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @include mix.desktop {
    // margin-left: 15%;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  &__description {
    width: 80%;
    color: #ffffff;
    background-color: black;
    padding: 30px;
    border-radius: 60px;
    font-family: var.$font-family-secondary;
    margin-top: 10px;
    @include mix.desktop {
      width: 45%;
    }
  }
}

#img_me {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 1px #ffffff;
  @include mix.desktop {
    height: 200px;
    width: 200px;
  }
}
