@use "variables" as var;

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin footer {
  border: 10px;
}

@mixin link {
  text-decoration: none;
  color: #000;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin image {
  height: 250px;
  width: 250px;
  border-radius: 30px;
  border: solid 2px #fff;
}
