@use "mixins" as mix;
@use "variables" as var;

.wrapperOfJunita {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bigName {
    margin-top: 100px;
  }
  @include mix.desktop {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bigName {
      margin-top: 118px;
    }
  }
}
.wrapperOfBerglin {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bigName {
    margin-bottom: 90px;
  }
  @include mix.desktop {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bigName {
      margin-bottom: 124px;
    }
  }
}

.wrapperOfMovementContent {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mix.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.middleMovement {
  border: solid black;
  border-radius: 50px;
  background-color: black;
  width: 95%;
  height: 30px;
  @include mix.desktop {
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
  }

  &__text {
    margin-top: 2px;
    color: var.$color-primary;
    display: flex;
    justify-content: space-between;
    @include mix.desktop {
      margin-top: 4px;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

.move {
  animation: left 20s infinite linear;
  color: var.$color-primary;
}
.move:first-child {
  animation-delay: -2s;
}

@keyframes left {
  0% {
    transform: translate(-800px, 0);
  }

  100% {
    transform: translate(800px, 0);
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  &__copywrite {
    font-size: 10px;
    margin-right: 5px;
    margin-top: 40px;
  }
  &__logo {
    width: 20px;
    height: 20px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__arrowIcon {
    font-size: 30px;
    margin: 0 0 0 10px;

    &.open:before {
      transform: rotate(180deg);
    }
  }

  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30%;
    &:hover {
      background-color: #ffffdf;
      transition: 2000ms;
    }

    &--text {
      color: black;
      text-decoration: none;
      font-family: var.$font-family-primary;
      font-size: 50px;
      @include mix.desktop {
        font-size: 80px;
      }
    }
  }

  &__project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30%;
    &:hover {
      background-color: #ffffdf;
      transition: 2000ms;
    }

    &--text {
      color: black;
      text-decoration: none;
      font-family: var.$font-family-primary;
      font-size: 50px;
      @include mix.desktop {
        font-size: 80px;
      }
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30%;
    &:hover {
      background-color: #ffffdf;
      transition: 2000ms;
    }

    &--text {
      color: black;
      text-decoration: none;
      font-family: var.$font-family-primary;
      font-size: 50px;
      @include mix.desktop {
        font-size: 80px;
      }
    }
  }
}
