@font-face {
  font-family: "thin";
  src: url(../attributes/webly-sleek/weblysleekuil.ttf);
}

//färger
$color-primary: #f9d080;
$color-secondary-light: white;
$color-secondary-dark: black;

//font

$font-family-primary: "thin";
$font-family-secondary: "thin";
