@use "mixins" as mix;
@use "variables" as var;

.workWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.project {
  @include mix.project;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-family: var.$font-family-secondary;
  @include mix.desktop {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 8%;
  }

  &__image {
    @include mix.image;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mix.desktop {
      height: 50%;
      width: 40%;
      margin: 20px;
    }

    &:hover {
      transition: 500ms;
      transform: scale(1.1);
    }
  }
  &__name {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @include mix.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
    }
  }
  &__description {
    color: #fff;
    padding: 10px;
    width: 85%;

    @include mix.desktop {
      justify-content: center;
      align-items: center;
      width: 60%;
    }
  }
  &__websidelink {
    @include mix.link;
    color: #000;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    @include mix.desktop {
      height: 25px;
      padding-bottom: 30px;
      padding-left: 10px;
      margin-right: 17px;
    }
  }
  &__link {
    @include mix.link;
    color: #fff;
    @include mix.desktop {
      margin-right: 16px;
    }
  }
  &__button {
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mix.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// websiteLink.className = "project__websidelink";
// githubLink.className = "project__link";
