@use "mixins" as mix;
@use "variables" as var;

.workWrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: var.$font-family-secondary;
  @include mix.desktop {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  &__image {
    @include mix.image;
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transition: 2000ms;
      transform: scale(1.2);
    }
  }
  &__name {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @include mix.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__description {
    color: black;
    padding: 10px;

    @include mix.desktop {
      justify-content: center;
      align-items: center;
    }
  }
  &__button {
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mix.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
